@page "/salary"
@using HRApp.Shared.Entities
@inject HttpClient client
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Departments</h3>
<MudButton Variant="Variant.Outlined" Color="Color.Primary" Link="/salary/create" >Create</MudButton>
<br />
<br />
<MudTable Items="@salaries.Take(10)" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@_loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Employee </MudTh>
        <MudTh>Month </MudTh>
        <MudTh>Basic Salary </MudTh>
        <MudTh>Bonus </MudTh>
        <MudTh>Deduction </MudTh>
        <MudTh>Overtime </MudTh>
        <MudTh>Net Amount </MudTh>
        <MudTh>Action </MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Name">@context.EmployeeId</MudTd>
        <MudTd DataLabel="Name">@context.Months</MudTd>
        <MudTd DataLabel="Name">@context.BasicSalary</MudTd>
        <MudTd DataLabel="Name">@context.Bonus</MudTd>
        <MudTd DataLabel="Name">@context.Deduction</MudTd>
        <MudTd DataLabel="Name">@context.OverTime</MudTd>
        <MudTd DataLabel="Name">@context.NetAmount</MudTd>
        <MudTd DataLabel="" Class="justify-end">
            <MudFab @onclick="@(()=>Edit(@context.Id))" Color="Color.Primary" Icon="@Icons.Material.Filled.Edit" Size="Size.Small" IconSize="Size.Small" />
            <MudFab @onclick="@(()=>Delete(@context.Id))" Color="Color.Secondary" Icon="@Icons.Material.Filled.Delete" Size="Size.Small" IconSize="Size.Small" />

        </MudTd>
    </RowTemplate>
</MudTable>

<MudSwitch @bind-Checked="_hidePosition">Hide <b>position</b> when Breakpoint=Xs</MudSwitch>
<MudSwitch @bind-Checked="_loading">Show Loading</MudSwitch>
@code { 
    private bool _hidePosition;
    private bool _loading;
    private Salary salary = new();
    private IEnumerable<Salary> salaries = new List<Salary>();

    protected override async Task OnInitializedAsync()
    {
        salaries = await client.GetFromJsonAsync<List<Salary>>("api/salary");
    }
    
    async Task Delete(int userId)
    {
        
        var dep = salaries.First(x => x.Id == userId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete Record?"))
        {
            await client.DeleteAsync($"api/salary/{userId}");
            uriHelper.NavigateTo("salary");
            await OnInitializedAsync();
        }
    }

     void Edit(int userId)
    {
        uriHelper.NavigateTo($"salary/edit/{userId}");
    }
}
