@page "/designation/edit/{designationId:int}"
@using HRApp.Shared.Entities
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js

<h3>Edit Designation</h3>
<EditForm Model="@designation" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator/>
    <MudGrid>
        <MudItem xs="12" sm="7">
            <MudCard>
                <MudCardContent>
                    <MudTextField Label="First name" HelperText="Max. 8 characters"
                                  @bind-Value="designation.Name" For="@(() => designation.Name)"/>
                    <MudTextField Label="Department Name" HelperText="Max. 8 characters"
                                  @bind-Value="designation.DepartmentId" For="@(() => designation.DepartmentId)"/>
                    <MudTextField Label="Description" HelperText="Max. 8 characters"
                                  @bind-Value="designation.Description" For="@(() => designation.Description)"/>
                </MudCardContent>
                <MudCardActions>
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="EditDepartment">Update</MudButton>
                </MudCardActions>
            </MudCard>
        </MudItem>
        <MudItem xs="12" sm="5">
            <MudPaper Class="pa-4 mud-height-full">
                <MudText Typo="Typo.subtitle2">Validation Summary</MudText>
                @if (success)
                {
                    <MudText Color="Color.Success">Success</MudText>
                }
                else
                {
                    <MudText Color="@Color.Error">
                        <ValidationSummary />
                    </MudText>
                }
            </MudPaper>
        </MudItem>
        <MudItem xs="12">
            <MudText Typo="Typo.body2" Align="Align.Center">
                Fill out the form correctly to see the success message.
            </MudText>
        </MudItem>
    </MudGrid>
</EditForm>


@code {
    bool success;
    [Parameter] public int designationId { get; set; }
    Designation designation = new Designation();
    protected async override Task OnParametersSetAsync()
    {
        designation = await http.GetFromJsonAsync<Designation>($"api/designation/{designationId}");
    }
    async Task EditDepartment()
    {
        await http.PutAsJsonAsync("api/designation", designation);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("designation");
    }
    
    private void OnValidSubmit(EditContext context)
    {
        success = true;
        StateHasChanged();
    }

}